<router-outlet></router-outlet>
<app-header></app-header>

<!-- User table list data -->
<div class="container userListContainer">
  <div class="userTable leftContent">
    <h4>USER LIST</h4>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
          <td mat-cell *matCellDef="let element"> {{element.dob | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="icons">
          <th mat-header-cell *matHeaderCellDef style="width: 15%">&nbsp;</th>
          <td mat-cell *matCellDef="let element; let i=index" style="width: 15%; text-align: right;">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
              (click)="editUser(element, i)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a home icon" (click)="deleteUser(element, i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataSource.data.length" [pageSize]="5"
        showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
  <div class="progressBar">
    <div class="userTable">
      <h4>Progress</h4>
      <mat-progress-bar mode="determinate" [value]="progreesPercentage"></mat-progress-bar>
      <h5><span>Male User:</span>{{maleCount}}</h5>
      <h5><span>Female User:</span>{{femaleCount}}</h5>
    </div>
  </div>
</div>
